<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Venuszhierly">

        <!-- Splash Screen: halaman pertama -->
        <activity
            android:name=".pertemuan6.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AuthActivity: halaman login -->
        <activity
            android:name=".AuthActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- MainActivity: halaman utama setelah login -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Activity Pertemuan 2 -->
        <activity
            android:name=".pertemuan2.SecondActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Activity Pertemuan 3 -->
        <activity
            android:name=".pertemuan3.ThirdActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".pertemuan3.ThirdResultActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Activity Pertemuan 4 -->
        <activity
            android:name=".pertemuan4.FourthActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Activity Pertemuan 5 -->
        <activity
            android:name=".pertemuan_5.FifthActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".pertemuan_5.WebViewActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>